<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"> -->
        <style>
            a{
                text-decoration: underline;
            }
            #plan{
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>Hello {{context.user.name}}! Let's edit your trip!</h1>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/home">Home</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <div class="row">
                {% with messages = get_flashed_messages() %}  <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p style="color:red">{{message}}</p> <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% for travel in trip %}
                    <form action="/trip/edit/{{travel['trip_id']}}" method="POST" style="display: inline-block">
                        <div class="form-group">
                            <label for="destination" class="form-horizontal" style="display: inline-block">Destination:</label>
                            <input type="text" class="form-horizontal" class="form-control" name="destination" value="{{travel['destination']}}">
                        </div>
                        <div class="form-group">
                            <label for="start_date">Start Date:</label>
                            <input type="date" class="form-horizontal" class="form-control" name="start_date" value="{{ travel['start_date'] }}">
                            <img src=" {{ url_for('static', filename='img/32x32.png')}}" alt="Calendar">
                        </div>
                        <div class="form-group">
                            <label for="end_date">End Date:</label>
                            <input type="date" class="form-horizontal" class="form-control" name="end_date" value="{{ travel['end_date'] }}">
                            <img src=" {{ url_for('static', filename='img/32x32.png')}}" alt="Calendar">
                        </div>
                        <div class="form-group">
                            <label for="plan" class="form-horizontal" id="plan">Plan:</label>
                            <textarea name="plan" id="plan" cols="30" rows="10">{{travel['plan']}}</textarea>
                        </div>
                        <a href="/home" class="badge badge-light">Cancel</a>
                        <input type="submit" value="Submit!">
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
<!DOCTYPE html>
